.newsletter {
  background-color: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;
}
.newsletter-info {
  flex: 1 1 120px;
  margin: 0 10px;
}
.newsletter-info h1 {
  font-size: 3em;
  color: #a4a4a4;
}
.newsletter-info p {
  font-size: 1.25em;
  font-style: italic;
  max-width: 260px;
  color: #7c7c7c;
  margin-bottom: 10px;
}
.newsletter-form {
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}
.newsletter-form input {
  flex: 3 1 60px;
  font-size: 1.25em;
  color: #7c7c7c;
  font-style: italic;
  font-family: "Poppins";
  border: 4px solid lightblue;
  background: transparent;
  padding: 15px 10px;
  margin: 0px;
  border-radius: 0px;
}
.newsletter-form button {
  flex: 1 1 30px;
  font-family: "Poppins";
  font-size: 2.25rem;
  text-transform: uppercase;
  background: lightblue;
  color: white;
  margin: 0px;
  cursor: pointer;
  border: 0px;
  padding: 15px 10px;
}
.newsletter-form button:hover {
  transition: 400ms;
  background: transparent;
  padding: 11px 6px 11px 10px;
  border-top: 4px solid lightblue;
  border-right: 4px solid lightblue;
  border-bottom: 4px solid lightblue;
  color: lightblue;
}
@media (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.5em;
  }
}
