.preco {
  background-color: #f7f7f7;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.preco-item {
  flex: 1;
  border: 4px solid white;
  padding: 20px;
  margin: 10px;
}
.preco-item h2 {
  font-size: 2.5em;
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}
.preco-item span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 5px 0;
  border-top: 4px solid white;
  font-size: 3em;
}
.preco-item sup {
  font-size: 2rem;
}
.preco-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-style: italic;
  color: #7c7c7c;
  font-size: 1.15em;
  min-width: 260px;
}
.preco-item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.preco-item li::after {
  content: " ";
  display: block;
  background: #2c70ff;
  height: 6px;
  width: 6px;
  border-radius: 50%;
}
.preco-item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  padding: 15px 0 15px 0;
}

@media (max-width: 800px) {
  .preco {
    padding: 10px 0;
  }
  .preco-item:nth-child(3) {
    order: -2;
  }
  .preco-item:nth-child(2) {
    order: -1;
  }
}
